

/* --------------- HEADERS-NUTRI ------- */
.headers-nutri{
    display: flex;
    justify-content: space-between;

}

/* ---- LINKS-NUTRI ---- */
.links-nutri{
    height: 50px;
    width: 100%;
    background-color: #212121;
    padding-block: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

/*---- LINKS-IMG ----*/
.links-img{
    display: flex;
    justify-content: space-around;
}

/* IMG */
.links-img img{
    width: 100px;
}

/* ---- LINKS ---- */
.links{
    display: flex;
}

/* LI */
.links li{
    display: flex;
    gap: 50px;
}

/* A */
.links a{
    text-decoration: none;
    color: #F0F0F0;

    font-size: 15px;
    font-family: var(--monts);
    font-weight: 400;

    transition: all .3s;
}

/* A (HOVER) */
.links a:hover{
    color: #7A7A7A;
}


/* ---- BTN-SERVICOS-HEADER ---- */
.btn-servicos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
    height: 40px;
    width: 300px;
    background-color: #EB2530;
    border-radius: 20px;
}

/* A */
.btn-servicos-header a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--monts);
    font-weight: 700;
}

/* A (HOVER BTN) */
.btn-servicos-header a:hover{
    color: #7A7A7A;
}



