
/* ------------ FOOTER-CLIENTES ---------- */
.footer-clientes{
    display: flex;
    flex-direction: column;

    padding-bottom: 300px;
    background-color: rgb(31, 33, 35);
}

/* ---- LOGO-FOOTER ---- */
.logo-footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- CONTAINER-FOOTER ---- */
.container-footer{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 100px;
    border-top: 1px solid white;
}

/* ---- LINKS-FOOTERS ---- */
.links-footers{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

/* SPAN */
.links-footers span{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

/* LI */
.links-footers li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* A */
.links-footers a{
    text-decoration: none;
    color: white;
}

/* A (HOVER) */
.links-footers a:hover{
    color: var(--orange);
}

/* ---- REDES-SOCIAIS --- */
.redes-sociais{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

/* ---- TEXT-REDES ---- */
.text-redes{
    display: flex;
}

/* SPAN */
.text-redes span{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}


/*---- ICONES-REDES-SOCIAL ----- */
.icones-redes-social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ---- ICONES ---- */
.icones{
    display: flex;

}

/* A */
.icones a {
    text-decoration: none;
    color: white;

    transition: all .3s;
}

/* A (HOVER) */
.icones a:hover{
    color: var(--orange);
}


