
/* ----------------- GERENCIAR-CONTA -------------- */
.gerenciar-conta{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;

}

/* ---- CONTAIENR-CONTAS ---- */
.container-contas{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    height: 500px;


}

/* ----- CONTAS ---- */
.contas{
    display: flex;
    flex-direction: column;
}

/* ---- LOGO-CONTA ---- */
.logo-conta {
    display: flex;
}

/* IMG */
.logo-conta img{
    width: 265px;

}

/* ---- TEXT-CONTA ---- */
.text-conta{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 20px;
}

/* STRONG */
.text-conta strong{
    font-weight: 900;
}

/* P */
.text-p{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
}

/* UL */
.text-p ul{
    display: flex;
    flex-direction: column;

}

/* ---- FORMULATION ---- */
.formulation{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 700px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

/* ---- TEXT-FORMS ---- */
.text-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

/* H3 */
.text-forms h3{
    font-size: 20px;
    font-weight: 900;
}

/* P */
.text-forms p{
    font-size: 16px;


}

/* ---- INPUTS ---- */
.inputs{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* ---- INPUTS-CPF ---- */
.inputs-cpf{
    display: flex;
    flex-direction: column;
}

/* INPUT */
.inputs-cpf input{
    height: 40px;

}

/* PLACEHOLDER */
.inputs-cpf ::placeholder{
    padding-left: 10px;
}

/* ---- TEXT-DOCUMENT ---- */
.text-document{
    display: flex;
    width: 100%;
    padding-top: 26px;
}

/* INPUT */
.text-document input{
    height: 40px;
    width: 100%;
}

/* PLACEHOLDER */
.text-document input::placeholder{
    padding-left: 10px;
}

/* ---- BTN-ENTRAR ---- */
.btn-entrar{
    display: flex;
    padding: 20px;
}

/* BUTTON */
.btn-entrar button{
    width: 100%;
    height: 45px;

    border: none;
    outline: none;
    border-radius: 36px;
    background-color: black;

    color: white;
    font-weight: 900;

}

