
/* ------------------ PLANOS-MENSAL -------------------- */
.planos-mensal{
    display: flex;
    
    height: auto;
    /* overflow-x: hidden; */
    
    margin: 20px;
}

/* ----- IMG-PLANOS ----- */
.img-planos{
    display: flex;
    
}

/* IMG */
.img-planos img{
    width: 100%;
    border-radius: 20px;
    object-fit: contain;

}


