
/* ---------------------- FORMS-FRANQ ----------------- */
.forms-franq{
    display: flex;
    flex-direction: column;

    padding-bottom: 150px;

}

/* ---- TEXT-FORMS ---- */
.text-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* H2 */
.text-forms h2{
    font-size: 35px;
    color: black;
    font-weight: 700;
}

/* STRONG */
.text-forms strong{
    color: var(--orange);
}

/* P */
.text-forms p{
    text-align: center;
    width: 690px;
    font-size: 1rem;
}

/* ---- CONTAINER-FORMS ---- */
.container-forms{
    display: flex;
    gap: 50px;
    margin: 0px 100px;
    height: 400px;

}

/* ---- FORMS-ONE ---- */
.forms-one{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;


}


/* ---- FORMS-INPUTS ---- */
.forms-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* LABEL */
.forms-inputs label{
    font-size: 16px;
}

/* INPUT */
.forms-inputs input {
    color: #1c1c1c;
    border-radius: 4px;
    border: none;
    border: 1px solid #1c1c1c;
    height: 36px;
}

/* PLACEHOLDER */
.forms-inputs input::placeholder{
    padding-left: 10px;
}

/* ---- SOCIOS ---- */
.socios{
    display: flex;
    margin-top: 40px;
    width: 330px;
}

/* P */
.socios p{
    font-size: 14px;
    font-family: var(--monts);
    color: black;
    font-style: normal;
    font-weight: 400;

}

/* ---- BTN-ENVIAR ---- */
.btn-enviar{
    display: flex;

}

/* BUTTON */
.btn-enviar button{
    width: 315px;
    height: 55px;

    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-family: var(--monts);
    font-weight: 500;
    color: white;

    transition: all .2s;

}

/* HOVER (BUTTON) */
.btn-enviar button:hover{
    background-color: gray;
    color: black;
}
