

/* ------------------ FRANQUIAS --------------- */
.franquias{
    display: flex;
    flex-direction: column;

    padding-bottom: 300px;

    position: relative;
}

/* ---- TEXT-FRANQUIAS ---- */
.text-franquias{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;

}

/* H2 */
.text-franquias h2{
    font-size: 35px;
    font-weight: 700;
    font-family: var(--monts);
    text-align: center;
}

/* STRONG */
.text-franquias strong{
    color: var(--orange);
    font-weight: 700;
}

/* ---- CONTAINER-FRANQUIAS ---- */
.container-franquias{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;

    height: 400px;
}

/* ---- ITENS-FRANQUIAS ---- */
.itens-franquias{
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}

/* ---- IMG-FRANQUIAS ---- */
.img-franquias{
    display: flex;
}

/* IMG */
.img-franquias img{
    width: 380px;
    height: 279px;
}

/* ---- TEXTOS-FRANQUIAS ---- */
.textos-franquias{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 380px;
}

/* H3 */
.textos-franquias h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* SPAN */
.textos-franquias span{
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-family: var(--monts);
    font-style: normal;
}

/* ---- BTN-FRANQUIAS ---- */
.btn-franquias{
    display: flex;
    
}

/* BUTTON */
.btn-franquias button{
    position: absolute;
    left: 35%;
    margin-top: 150px;

    height: 55px;
    width: 315px;

    border-radius: 30px;
    background-color: #1C1C1C;
    border: none;
    outline: none;

    font-family: var(--monts);
    font-weight: 500;
    color: white;

}

