
/* -------------- REDES-ACADEMY ---------- */
.redes-academy{
    display: flex;

    padding-bottom: 00px;

    width: 100%;
    height: 450px;

}

/* ---- TEXT-ACADEMY ----- */
.textos-academy{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;

    width: 200px;
    flex: 1;
    background-color: rgba(255,182,18,1);

    position: relative;
}

/* H2 */
.textos-academy h2{
    width: 400px;
    font-size: 32px;
    font-weight: 900;
}

/* P */
.textos-academy p{
    font-size: 20px;
    font-weight: 900;
    width: 400px;
}

/* ---- IMG-PESSOAS ---- */
.img-pessoas{
    display: flex;
    flex: 1;
}

/* IMG */
.img-pessoas img{
    width: 100%;
    object-fit: cover;
}

/* ---- BTN-FRANQUEADO ---- */
.btn-franqueado{
    display: flex;
    position: absolute;
    left: 27px;
    top: 322px;
}

/* BUTTON */
.btn-franqueado button{
    height: 55px;
    width: 315px;
    border: none;
    outline: none;

    font-family: "Montserrat", sans-serif;

    background-color: #E80000;
    border-radius: 30px;

    color: white;
    font-size: 20px;
}

/* BTN (HOVER) */
.btn-franqueado button:hover{
    background-color: #be0606;
}


