
/* ------------------- SUCESSOS ------------------- */
.sucessos{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
}


/* ---- TEXT-SUCESSOS ---- */
.text-sucessos{
    display: flex;
    justify-content: center;
    align-items: center;


}

/* H2 */
.text-sucessos h2{
    font-size: 35px;
    color: black;
    font-weight: 700;
}

/* STRONG */
.text-sucessos strong{
    color: var(--orange);
}

/* ---- CONTAINER-SUCESSOS ---- */
.container-sucessos{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    height: 300px;

    margin-top: 50px;

}

/* ---- ITENS-SUCESSOS ---- */
.itens-sucessos{
    display: flex;
    flex-direction: column;

}

/* SPAN */
.itens-sucessos span{
    font-size: 16px;
}

/* ---- NUMBRES ---- */
.numbres{
    display: flex;
}

/* ---- NUMBER- P ---- */
.numbres .number-p{
    font-size: 70px;
    font-weight: 900;
}

/* ---- SIMBOLOS ---- */
.numbres .simbolos{
    padding-top: 40px;
    font-size: 30px;
}

/* P */
.itens-sucessos p{
    width: 320px;
    text-align: center;
}

/* ---- BTN-SUCESSOS ----- */
.btn-sucessos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 426px;
    height: 45px;
    background-color: red;
    border-radius: 23px;
    background-color: #ffb61200;
    border-style: dotted;
    border-color: var(--orange);
}

/* P */
.btn-sucessos p{
    text-align: center;
    font-size: 18px;
    margin: 0 auto;

    font-size: 1rem;
    font-family: var(--monts);
    font-weight: 400;
    color: black;
    font-style: normal;


}

/* ---- BTN-FRANQ-SUCESSOS ---- */
.btn-franq-sucessos{
    display: flex;
    justify-content: center;
    padding-block: 50px;
}

/* BUTTON */
.btn-franq-sucessos button{
    height: 55px;
    width: 315px;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #1C1C1C;
    border: none;
    outline: none;
    color: white;
}


