

/* ------------ DOSE-ENERGIA ------------ */
.dose-energia {
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;

}

/* ---- CONTAINER-DOSE ---- */
.container-dose {
    display: flex;
    width: 100%;
    height: 457px;

    background-image: url(https://energy.smartfit.com.br/images/Header_DESK_com-copo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

/* ---- CONTEUDO ---- */
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

/* ---- TITLE-DOSE ---- */
.title-dose {
    display: flex;

}

/* H2 */
.title-dose h2 {
    font-size: 46px;
    font-family: var(--monts);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

/* ---- TEXT-DOSE ---- */
.text-dose {
    display: flex;
    flex-direction: column;
    font-family: var(--monts);
}

/* LI */
.text-dose li {
    color: white;
    font-size: 20px;
}
/* SPAN */
.text-dose li span {
    font-size: 16px;

}

/* SPAN */
.text-dose span {
    color: white;
}

/* ---- BTN-DOSE ---- */
.btn-dose{
    display: flex;
    margin-top: 20px;
}

/* A */
.btn-dose a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #D52B1E;
    border-radius: 10px;
}

/* SPAN (A) */
.btn-dose a span{
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--monts);
}

