
/* ------------ LOCALIDADE ----------- */
.localidade{
    display: flex;
    flex-direction: column;

    padding-bottom: 50px;

}

/* ---- CONTAINER-LOCAIS ---- */
.containers-locais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* ---- TITLE-LOCAIS ---- */
.title-locais{
    display: flex;

}

/* H2 */
.title-locais h2{
    font-size: 32px;
    font-family: var(--monts);
    font-weight: 800;
    color: #888888;
}

/* ---- INPUTS-LOCAIS ---- */
.inputs-locais{
    display: flex;
    justify-content: center;

}

/* INPUT */
.inputs-locais input{
    height: 40px;
    width: 600px;


    border-radius: 12px;
    border: 1px solid #ced4da;
    background-color: white;
}

/* PLACEHOLDER  */
.inputs-locais input::placeholder{
    padding-left: 10px;
    color: #212529;
    font-weight: 300;

}

