
/* ----------NUTRICIONAL ----------- */
.nutricional{
    display: flex;
    flex-direction: column;

    padding-bottom: 300px;

}

/* ---- CONTAINER-NUTRICIONAL ---- */
.container-nutricional{
    display: flex;
    height: 544px;
    width: 100%;
   background-image: url(https://energy.smartfit.com.br/images/Tela-da-maquinaII1.jpg);

}

/* ---- IMG-ONE ---- */
.imgs-one{
    display: flex;
    flex: 2;
    background-color: blue;
   
}

/* IMG */
.imgs-one img{
    object-fit: cover;
}

/* ---- TABELA ---- */
.tabela{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: 50px;
    padding-inline: 50px;
    flex: 2;
    background-color: black;
}

/* P */
.tabela p{
    font-size: 25px;
    color: white;
    font-family: var(--monts);
    text-align: center;
}

/* STRONG */
.tabela strong{
    font-size: 25px;
    font-family: var(--monts);
    color: var(--orange);
    text-transform: uppercase;
    text-align: center;
}


.imgs-two{
    display: flex;
    flex: 1;

}


/* ---- BTN-TABELA ---- */
.btn-tabela{
    display: flex;
}

/* A */
.btn-tabela a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

/* SPAN (A) */
.btn-tabela a span{
    font-size: 20px;
    font-family: var(--monts);
    text-transform: uppercase;
    color: var(--black);
    font-weight: 800;
}

